doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body(onload="thealgorithm.init();")
    #inputs
    #logger(style="padding:10px;background:#333;color:#fff;")
    //- script(src='js/underscore-min.js')
    script(src='js/timbre.js')
    script(src='js/jsmad.js')
    script(src='js/mp3_decode.js')
    script(src='js/thealgorithm.js')